@font-face {
  font-family: 'MyFairCody';
  src: url(../fonts/MyFairCody.otf);
}

body, h3, h4, .mdl-layout-title {
  font-family: 'MyFairCody' !important;
}

.mdl-button {
  color: white !important;
}

.mdl-layout__header, .mdl-layout__tab-bar, .mdl-layout__tab-bar-button, #access-tab #google-button {
  background-color: #102F7D
}

a {
  color: #102F7D
}

.mdl-layout__header-row {
  margin: auto;
  padding: 0;
}

.mdl-layout__header-row .mdl-layout-title {
  font-size: 24px;
  letter-spacing: 0px;
}

.mdl-layout__header-row:before, .mdl-layout__header-row:after {
  background: url(../images/geranium.png);
  width: 25px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
  content: " ";
  background-size: contain;
  margin: 10px;
  background-position: center;
}

.mdl-layout__tab-bar {
  height: auto;
}

#invitation-tab .image-container {
  text-align: center;
}

#invitation-tab .image-container .image {
  max-width: 500px;
  display: inline-block;
}

#invitation-tab .image-container .kadomaru {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

#invitation-tab .text-container {
  padding-left: 10%;
  padding-right: 10%;
}

#form-content {
  padding-top: 20px;
  text-align: center;
}

#form-content > .mdl-button {
  margin-bottom: 50px;
}

#access-tab .place-card-image.mdl-card {
  width: 100%;
  background-image: url("../images/place.jpg");
  background-position: center;
  background-size: cover;
}

#access-tab .place-card-image.mdl-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

#access-tab .place-card-image.mdl-card .place-card-image__name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#access-tab .mdl-data-table {
  width: 100%;
}

#access-tab .mdl-data-table th {
  width: 70px;
  text-align: center;
  padding: 0 0 0 10px;
  vertical-align: middle;
}

#access-tab .mdl-data-table td {
  white-space: normal;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#access-tab .mdl-data-table td .button-container {
  padding-top: 10px;
}

#google-map {
  width: 100%;
  height: 250px;
  pointer-events: none;
}

@media(min-width: 800px) {
  #access-tab .mdl-data-table .navigation-row {
    display: none;
  }
}

#access-tab #navitime-button {
  margin: 10px 0;
  background: #035500;
}

#access-tab #google-button {
  margin: 10px 0;
}

#profile-tab {
  margin-bottom: 80px;
}

#profile-tab .mdl-data-table {
  width: 100%;
}

#profile-tab .mdl-data-table th {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

#profile-tab .mdl-data-table .col-2 {
  width: 200px;
  padding: 0;
}

#profile-tab .mdl-data-table td {
  white-space: normal;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#profile-tab .mdl-data-table .image-circle {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

@media(max-width: 800px) {
  .mdl-data-table tbody tr:hover {
    background-color: inherit;
  }
}

#picture-tab .text-container {
  padding-left: 10%;
  padding-right: 10%;
}

#camera-button {
  position: fixed;
  bottom: 8px;
  right: 8px;
  height: 80px;
  width: 80px;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: #102F7D;
  -webkit-box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

#camera-button a {
  color: #ffffff;
  text-decoration: none;
}

#camera-button:hover {
  background-color: #012062;
}
.camera-text {
  margin: 20px 0 -4px 0;
  font-size: 12px;
}
.camera-icon {
  font-size: 32px;
}
#camera-button input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width:  100%;
  opacity: 0;
}

.slide-in-up,
.slide-in-down {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes slide-in-up {
from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
}
to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
}
}
@keyframes slide-in-up {
from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
}
to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
}
}
.slide-in-up {
  -webkit-animation-name: "slide-in-up";
          animation-name: "slide-in-up";
}
@-webkit-keyframes slide-in-down {
from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
}
to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: hidden;
}
}
@keyframes slide-in-down {
from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
}
to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: hidden;
}
}
.slide-in-down {
  -webkit-animation-name: "slide-in-down";
          animation-name: "slide-in-down";
}
